<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="server" value="."/>
		<add key="db" value ="library"/>
		<add key="user" value ="sa"/>
		<add key ="pwd" value="123456"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>